body 
{
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
}

table 
{
	border-collapse: collapse;
	border: 1px solid #ececec;
	margin: 0 auto;
	margin-top: calc(50vh - 180px);
}

td 
{
	border: 1px solid #ececec;
	padding: 40px;
}

th 
{
	padding: 20px 0px;
}

input{
	cursor: pointer;
}